<section class="max-w-6xl mx-auto px-6 py-24 text-center">
    <h2 class="text-4xl font-bold mb-6">Learn, Grow, and Achieve &mdash; All in One Place.</h2>
    <h3 class="text-2xl font-bold mb-6">A little about us.</h3>
    <p class="text-lg leading-relaxed max-w-3xl mx-auto">
        Welcome to EEX - which stands for European Educational Experience! Here you can learn any sorts of things, from
        learning many languages to various fields of science! We offer high quality articles from subject such as,
        biology, chemistry or math and even more. Those articles are packed with a lot of information, which could find
        use on your next tests or quizzes.
        Our platform is incredibly easy to navigate, all of things needed for you, can be found on the left sidebar, if
        you are interested in adding some articles by yourself, you found the right place, we also have such
        possibility, after adding an article contact with your teacher, so he can approve that one and publish it for
        you.

        We are incredibly proud to host this dynamic educational hub right here in our community. In fact, many of the
        high-quality resources you see are inspired by the dedication found at institution ZST Mikołów—a testament to
        local excellence fostering global learning. Join us in making EEX the ultimate destination for knowledge. Start
        exploring, start contributing, and help us redefine the educational experience!
    </p>
</section>