<section class="max-w-6xl mx-auto px-6 py-24 text-center dark:bg-gray-900 transition-colors duration-200">
    <h2 class="text-4xl font-bold mb-6 dark:text-white">Learn, Grow, and Achieve &mdash; All in One Place.</h2>
    <p class="text-lg leading-relaxed max-w-3xl mx-auto dark:text-gray-300">
        <p class="leading text-xl mb-6">
            Welcome to <span class="tracking-wider italic">European Educational Experience</span>!
        </p>
        <p class="mb-1">
            Here you can learn any sorts of things, from learning many languages to various fields of science! We offer high quality articles from subject such as,
            biology, chemistry or math and even more. Those articles are packed with a lot of information, which could find
            use on your next tests or quizzes.
            Our platform is incredibly easy to navigate, all of things needed for you, can be found on the left sidebar, if
            you are interested in adding some articles by yourself.
        </p>

        <p class="mb-1">
            We are incredibly proud to host this dynamic educational hub right here in our community. In fact, many of the
            high-quality resources you see are inspired by the dedication found at institution ZST Mikołów &mdash; a testament to
            local excellence fostering global learning. Join us in making <span class="italic">EEX</span> the ultimate destination for knowledge. Start
            exploring, start contributing, and help us redefine the educational experience!
        </p>
    </p>
</section>