<footer class="w-full bg-gray-900 text-white py-8 text-center">
    <p class="text-lg">Created and Managed by
        <a href="https://github.com/Hiumpik-err" class="hover:underline">Kamil Jendrusz</a>
        &amp;
        <a href="https://github.com/vectoren" class="hover:underline">Bartosz Cieśla</a>
    </p>
    <p class="text-sm opacity-70 mt-2">© 2025 All rights reserved.</p>
    <p class="text-xs opacity-70 mt-2">Image licensing by <a href="https://unsplash.com/license" class="hover:underline" target="_blank" nofollow>Unsplash</a></p>
</footer>