{% load static %}
<nav class="w-full flex items-center justify-between px-6 py-4 bg-white shadow fixed top-0 left-0 z-50">

    <div class="flex items-center gap-4">
        <img src="{% static 'images/logo_eex.png' %}" alt="Logo EEX" class="h-10">
        <div class="text-xl font-semibold">Home</div>

        {% comment %}
        <!-- User position template -->
        <div class="text-xl font-semibold">
            <span class="hover:underline">Home</span> &gt; <span class="hover:underline">Category name</span> &gt; <span class="hover:underline">Articles</span>
        </div>
        {% endcomment %}
    </div>
    <div class="flex items-center gap-10 text-lg">
        <a href="#home" class="hover:underline">Home</a>
        <a href="#search" class="hover:underline">Search</a>
        <a href="#user" class="inline-flex justify-center gap-x-1.5 px-3 py-2 hover:underline">
            User
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-7 text-gray-400">
                <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
        </a>
    </div>
</nav>