<section id="quizzes" class="max-w-full md:max-w-4xl lg:max-w-5xl mx-auto px-6 py-24">
    <h2 class="text-4xl font-bold text-center mb-10 flex items-center justify-between">
        <div class="flex items-center gap-3 justify-center mx-auto">
            <svg class="h-7 w-7 text-purple-600 flex-shrink-0" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 6L9 17l-5-5"></path>
            </svg>
            <span>Latest Quizzes</span>
        </div>
        <a href="/content_view/quizzes" class="ml-4 inline-flex items-center gap-2 text-sm text-gray-600 hover:text-gray-800">Go to Quizzes
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </a>
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {% for quizz in quizzes %}
        <div class="flex flex-col bg-white p-6 rounded-2xl shadow-xl">
            <h3 class="text-2xl font-semibold mb-2 line-clamp-1">{{quizz.title}}</h3>
            <p class="text-xs text-gray-500 uppercase tracking-wider mb-4">{{quizz.category}}</p>
            <p class="text-gray-700 mb-3 line-clamp-3">{{quizz.description}}</p>
            <div class="flex justify-end mt-auto">
                <a href="{{quizz.link}}">
                    <button class="px-4 py-2 bg-purple-600 text-white rounded-lg hover:bg-purple-700">Take Quiz</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>