/* rgb(48, 56, 65) */

.btn-success:hover {
    background-color: rgb(28, 93, 193);
}

.btn-outline-primary {
    background-color: rgb(19, 62, 135);
    color: rgb(218, 218, 218);
    border: none;
}

.navbar-brand,
#navbarDropdownMenuLink,
#footer {
    color: rgb(218, 218, 218);
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: rgb(28, 93, 193);
}

.nav-link:hover {
    color: rgb(40, 102, 207);
}


.dropdown-item {
    color: rgb(28, 93, 193);
}

.dropdown-item:hover {
    color: rgb(19, 62, 135);
    background-color: rgba(28, 93, 193, 0.15);
}

.dropdown-item,
.dropdown-menu { 
    min-width: 5rem;
    width: 80px;
}

.user-dropdown{
    width: 110px;
}

.item-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(33% - 1.34%));
    grid-template-rows: auto;
    grid-gap: 1%;
    margin-bottom: 5%;
}
main{
    min-height: 75vh;
    height: 25vh;
}

.item-content.card{
    padding: 2% 0 5% 0;
}

#overlay-card{
    position: fixed; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%); 
    width: 60%; 
    z-index: 1050; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding-inline: 0;
}

.article-card,
.task-card, .quiz-card {
    box-shadow: 0px 0px 2px black;
    transition: ease-in-out;
    transform: scale(95%);
    height: 325px;
}

.article-card:hover,
.course-card:hover {
    transform: scale(97%);

}

.header-truncate
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* do not touch */
.multi-line-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    /*liczba widocznych linii  */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* touch from here */
.sidebar {
    min-height: 15em;
    height: fit-content;
    background-color: rgb(30, 32, 34) !important;
}

.collapse-btn {
    color: rgb(238, 238, 238);
}

.collapse-btn:hover {
    color: white;
}

.form-control {
    margin: 5px;
    width: 25vw;
}

.form-textarea {
    width: 45vw;
    min-height: 3em !important;
    
}

.footer
{
    top: -60px !important;
    min-height: 5vh !important;
}


.close-btn{
    top: -35px !important;
}


/* position-absolute top-50 end-0 mx-3 mt-3 */
.btn-footer 
{
    position: absolute;
    top: 50%;
    right: 0;
    height: 50px;
    margin: 0 10px;
    margin-bottom: 25px;
    margin-top: -12.5px;
}

.article-body{
    min-height: 72.4%;
}