{% extends "home.html" %}

{% block main-content %}
<div class="item-content card col-lg-11">
    {% load app_filters %}
    {% for article in articles %}
        <div class="article-card">
            <div class="card-header">
                <h3 class="card-title">{{article.title}}</h3>
            </div>
            <div class="card-body">
                <p class="lead multi-line-truncate" >{{article.wholeContent.contents|get:0}}</p>                       
            </div>
            <div class="card-footer position-relative">
                <button class="btn btn-outline-primary read-more position-absolute top-50 end-0 mx-3 mt-3" title="Read more of the article" data-title="{{article.title}}" data-content="{{article.wholeContent|escapejs}}">Read more...</button>
            </div>
        </div>
    {% endfor %}
</div>

<div class="card d-none" id="overlay-card">
    <div class="card-header d-flex justify-content-between">
        <h3 class="card-title" id="overlay-title"></h3>
        <button class="btn btn-outline-danger read-more" id="close-overlay" title="Close currently view article">Close</button>
    </div>
    <div class="card-body" id="overlay-content">
    </div>
</div>
{% endblock %}



{% comment %} 
<!-- Article template -->
<div class="article-card">
    <div class="card-header">
        <h3 class="card-title">{{article.title}}</h3>
    </div>
    <div class="card-body">
        <p class="lead multi-line-truncate" >{{article.lead}}</p>                       
        <p class="d-none">{{article.content}}</p>                
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-outline-primary" id="read-more">Read more...</button>
    </div>
    <!-- Show content after btn click -->
</div>
{% endcomment %}