{% extends "home.html" %}

{% block main-content %}
        <div class="item-content card col-lg-11">
            {%for course in courses%}
            <div class="card col task-card">
                <div class="card-header">
                    <h3 class="card-title">{{course.title}}</h3>
                </div>

                <div class="card-body">
                    <p class="lead multi-line-truncate">{{course.question}}</p>
                    {% comment %} <div class="input-group mb-3">
                        <label for="task1ans" class="input-group-text">Your answer</label>
                        <input type="text" id="task1ans">
                    </div> {% endcomment %}
                <!-- content visible after read more is clicked -->
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-outline-primary" id="read-more"><a class="text-decoration-none lead text-light" href="{% url "item_view" 'course' course.CourseId %}">See more</a></button>
                </div>
            </div>
            {%endfor%}
        </div>
{% endblock %}