{% extends "home.html" %}

    {% block main-content %}
    <div class="content col-lg-11">
        {% if type == "article" %}
        {% block add_article %}
        {% comment %} Artukuł {% endcomment %}
            <div class="card px-2">
                <p class="lead text-center mb-5">Add An Article</p>
                <form method="post" class="gap-1">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <label for="category" class="input-group-text">Categories</label>
                        <select id="category" class="form-select text-center" >
                            <option selected disabled>---Choose category---</option>
                            <option value="Math">Math</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Biology">Biology</option>
                            <option value="History">History</option>
                            <option value="Add new">Add new +</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="title" placeholder="Title" name="title" value = {{title}}>
                        <label for="title">Title</label>
                    </div>
                    {% load app_filters %}
                    {% for index in header_count %}

                            <div class="form-floating mb-3">
                                <textarea class="form-control form-textarea" type="text" id="lead" placeholder="Lead" name="header_{{index}}">{{ header_list|get:index}}</textarea>
                                <label for="lead">Header</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control form-textarea" type="text" id="Content" name="content_{{index}}" placeholder="Content">{{ content_list|get:index}}</textarea>
                                <label for="content_{{index}}">Content</label>
                            </div>

                        {% if current_count > 1 %}<button type="submit" class="bnt btn-danger" name="delete_section_{{index}}" value>✗</button>{% endif %}
                    {% endfor %}

                    <button type="submit" name="add_new_section" class="btn btn-primary">New Section</button>
                    <div class="container d-flex justify-content-end mt-3 mb-3">
                        <button type="submit" name="saveAll" class="btn btn-success">Save article</button>
                    </div>
                </form>
            </div>
        {% endblock %}
        {% comment %} Kurs {% endcomment %}
        {% elif type == "course" %}

        {% block add_course %}
        <div class="card px-2">
            <p class="lead text-center mb-5">Add A Task</p>

            <form action="#" method="post">
                <div class="input-group mb-3">
                    <label for="category" class="input-group-text">Categories</label>
                    <select id="category" class="form-select text-center" >
                        <option selected disabled>---Choose category---</option>
                        <option value="Math">Math</option>
                        <option value="Physics">Physics</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Biology">Biology</option>
                        <option value="History">History</option>
                        <option value="Add new">Add new +</option>
                    </select>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="title" placeholder="Title">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control form-textarea" type="text" id="lead" placeholder="Lead"></textarea>
                    <label for="lead">Question</label>
                </div>
                <!-- do usunięcia, nie wiem czy ci sie tak uda -->
                <div class="form-floating mb-3">
                    <textarea class="form-control form-textarea" type="text" id="Content"
                        placeholder="Link to quiz"></textarea>
                    <label for="Content">Possible answers</label>
                    <p class="fs-6 mx-2 font-monospace text-body-secondary">Possible answers separated by a semicolon e.g. 100;95;43</p>
                </div>
                <div class="container d-flex justify-content-end mt-3 mb-3">
                    <button type="submit" name="saveAll" class="btn btn-success">Save task</button>
                </div>
            </form>
        </div>
        {% endblock %}
        {% else %}
        {% comment %} Quizz {% endcomment %}
        {% block add_quiz %}
        <div class="card px-2">
            <p class="lead text-center mb-5">Add A Quizz</p>

            <form action="#" method="post">
                <div class="input-group mb-3">
                    <label for="category" class="input-group-text">Categories</label>
                    <select id="category" class="form-select text-center" >
                        <option selected disabled>---Choose category---</option>
                        <option value="Math">Math</option>
                        <option value="Physics">Physics</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Biology">Biology</option>
                        <option value="History">History</option>
                        <option value="Add new">Add new +</option>
                    </select>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="title" placeholder="Title">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control form-textarea" type="text" id="lead" placeholder="Lead"></textarea>
                    <label for="lead">Quiz description</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control form-textarea" type="text" id="Content"
                        placeholder="Link to quiz"></textarea>
                    <label for="Content">Link to quiz</label>
                </div>
                <div class="container d-flex justify-content-end mt-3 mb-3">
                    <button type="submit" name="saveAll" class="btn btn-success">Save quiz</button>
                </div>
            </form>
        </div>
        {% endblock %}
        {%endif%}

    </div>
    {% endblock %}


