{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>EEX</title>
    <link rel="icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
</head>

<body class="w-full h-full text-gray-800">

    {% include 'components/navbar.html' %}

    <!-- Spacer -->
    <div class="h-20"></div>

    <!-- SECTION: ABOUT -->
    {% include 'components/about.html' %}

    <!-- PARALLAX BREAK -->
    <div class="h-96 bg-fixed bg-center bg-cover" style="background-image:url('https://images.unsplash.com/photo-1503264116251-35a269479413');"></div>

    <!-- SECTION: ARTICLES -->
    {% include 'components/articles.html' %}

    <!-- PARALLAX BREAK -->
    <div class="h-96 bg-fixed bg-center bg-cover" style="background-image:url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f');"></div>

    <!-- SECTION: TASKS -->
    {% include 'components/tasks.html' %}

    <!-- PARALLAX BREAK -->
    <div class="h-96 bg-fixed bg-center bg-cover" style="background-image:url('https://images.unsplash.com/photo-1496307042754-b4aa456c4a2d');"></div>

    <!-- SECTION: QUIZZES -->
    {% include 'components/quizzes.html' %}

    <!-- PARALLAX BREAK -->
    <div class="h-96 bg-fixed bg-center bg-cover" style="background-image:url('https://images.unsplash.com/photo-1484417894907-623942c8ee29');"></div>

    <!-- FOOTER -->
    {% include 'components/footer.html' %}
</body>

</html>