{% extends 'index.html' %}

{% block logo %}
 <header class="container-fluid bg-primary">
    <img src="../../static/images/logo.png" alt="Logo" class="w-25 h-25 d-block mx-auto" />
  </header>
{% endblock %}

{% block navbar %}
   <nav class="navbar bg-body-tertiary bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-light">Menu</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn text-light bg-warning" type="submit">Search</button>
    </form>
    <div class="profile">
        <img src="#" alt="Profile_picture">
    </div>
    </div>
  </nav>
{% endblock %}
 <div class="row">
    {% block menu %}
        <aside class="container h-auto bg-primary col-3">

        <ul class="list-group w-100">
            <li class="list-group-item btn text-start">
            Math <span class="badge bg-warning">10</span>
            </li>
            <li class="list-group-item">
            Biology <span class="badge bg-warning">1</span>
            </li>
            <li class="list-group-item">
            Physics <span class="badge bg-warning">2</span>
            </li>
            <li class="list-group-item">
            Chemistry <span class="badge bg-warning">5</span>
            </li>
        </ul>
        </aside>
    {% endblock %}
    {% block content %}
        <div class="containter bg-primary text-center text-light col-9">
                <h2>{{card.title}}</h2>
                <p class="text-warning"> {{card.description}}</p>
                <div>
                    {{card.content}}
                </div>
            </div>
    {% endblock %}
</div>
{% block footer %}
  <footer class="container-fluid bg-primary py-3 text-center">
    <h5>All rights reserved &copy;</h5>
  </footer> 
{% endblock %}
