{% extends "home.html" %}
{% block main-content %}
        <div class="content col-lg-11">
            {% if type == 'article' %}
                <div class="item-card card" id="overlay-card">
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="card-title" id="overlay-title">{{article.title}}</h3>
                        <button class="btn btn-outline-danger read-more" id="close-overlay" title="Close currently view article">Close</button>
                    </div>
                    <div class="card-body" id="overlay-content">
                        {{article.content|safe}}
                    </div>
                </div>
                
            
            {% else %}
                <h1>{{course.title}}</h1>
            {% endif %}
            
            
                

        </div>
{% endblock %}