{% extends "home.html" %}

{% block main-content %}
<div class="content card col-lg-11">
    <div class="profile-card">
        <div class="card-header">
            <h3 class="profile">Currently logged in as: <span class="lead fs-3">{{profile_data.email}}</span> </h3>
        </div>
        <div class="card-body">
            <p>Username: {{profile_data.email}}</p>
        </div>
        <div class="card-footer position-relative">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-outline-primary read-more position-absolute top-50 end-0 mx-3 mt-3" type="submit" name="logout">Log out</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}