{% extends "home.html" %}

{% block main-content %}
<div class="item-content card col-lg-11">
    <div class="card col quiz-card">
        <div class="card-header">
            <h3 class="card-title">Quiz title 1</h3>
        </div>
        <div class="card-body">
            <p class="lead">General quiz about arithmetics</p>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="#">
                <button class="btn btn-outline-primary" type="button">Solve the quiz</button>
            </a>
        </div>
    </div>            
</div>
{% endblock %}