<nav class="sidebar bg-light col-lg-1">
    <ul class="nav flex-column">
        {% for category in categories %}

            <li class="nav-item">
                <button class="btn btn-toggle align-items-center rounded collapse-btn shadow-none" data-bs-toggle="collapse"
                    data-bs-target="#{{category}}-collapse" aria-expanded="false">{{category}}</button>
                <div id="{{category}}-collapse" class="collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="nav-item">
                            <a href="{% url 'available_articles' category %}" class="nav-link">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'available_courses' category %}" class="nav-link">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'available_quizzes' category%}" class="nav-link">Quizzes</a>
                        </li>
                    </ul>
                </div>
            </li>

        {% endfor %}
    </ul>
</nav>