{% block side-navbar %}
        <!-- Loop data from DB -->
        <nav class="sidebar bg-light col-lg-1">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <button class="btn btn-toggle align-items-center rounded collapse-btn shadow-none" data-bs-toggle="collapse" data-bs-target="#biology-collapse" aria-expanded="false">Biology</button>
                    <div id="biology-collapse" class="collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item">
                                <a href="{% url "available_articles" %}" class="nav-link">Articles</a>
                            </li>
                            <li class="nav-item"> 
                                <a href="{% url "available_courses" %}" class="nav-link">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url "available_quizzes"%}" class="nav-link">Quizzes</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-toggle align-items-center rounded collapse-btn shadow-none" data-bs-toggle="collapse" data-bs-target="#physics-collapse" aria-expanded="false">Physics</button>
                    <div id="physics-collapse" class="collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item">
                                <a href="articles.html" class="nav-link">Articles</a>
                            </li>
                            <li class="nav-item"> 
                                <a href="#" class="nav-link">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Quizzes</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-toggle align-items-center rounded collapse-btn shadow-none" data-bs-toggle="collapse" data-bs-target="#math-collapse" aria-expanded="false">Math</button>
                    <div id="math-collapse" class="collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item">
                                <a href="articles.html" class="nav-link">Articles</a>
                            </li>
                            <li class="nav-item"> 
                                <a href="courses.html" class="nav-link">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="quizzes.html" class="nav-link">Quizzes</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-toggle align-items-center rounded collapse-btn shadow-none" data-bs-toggle="collapse" data-bs-target="#history-collapse" aria-expanded="false">History</button>
                    <div id="history-collapse" class="collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item">
                                <a href="articles.html" class="nav-link">Articles</a>
                            </li>
                            <li class="nav-item"> 
                                <a href="courses.html" class="nav-link">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="quizzes.html" class="nav-link">Quizzes</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>    
        </nav>
{% endblock %}